

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}

.logo-container {
  background-color: darkcyan;
  display: flex;
  justify-content: right;
  align-items: right;
  padding: 10px;
}

